
<%= form_with(model: categorium) do |form| %>
<h1>Nueva Categoria</h1> 
  <% if categorium.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(categorium.errors.count, "error") %> prohibited this categorium from being saved:</h2>
      <ul>
        <% categorium.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field-container">
    <%= form.text_field :nombre, placeholder: " " %>
    <%= form.label :nombre, "Nombre" %>
  </div>

  <div class="field-container">
    <%= form.text_area :descripcion, placeholder: " " %>
    <%= form.label :descripcion, "Descripción" %>
  </div>

  <div>
    <%= form.submit "Enviar", class: "submit-button" %>
  </div>
  <div class="back-link">
  <a href="/articulos">Back to Artículos</a> <!-- Enlace al final -->
</div>
<% end %>
